doc.lisp.backup
workxxx*
workyyy*
aux
saved
logs
TAGS
TAGS-acl2-doc
acl2-status.txt
acl2r.lisp
acl2-proclaims.lisp
.acl2rc
*saved_acl2*
TMP*.*
temp-emacs-file.lsp
devel-check.out
*~
*.log
*.64ufasl
*.axpf
*.bin
*.d64fsl
*.data
*.dfsl
*.dx32fsl
*.dx64fsl
*.fas
*.fasl
*.lbin
*.lib
*.lx32fsl
*.lx64fsl
*.o
*.ppcf
*.sbin
*.sparcf
*.ufasl
*.ufsl
*.x86f
*.sse2f
*.fn
*.certdep
!universal-dependency.certdep
gitlog-all.txt
