workxxx*
*@expansion.lsp
*.out
*.date
*.cert
*.cert.temp
*.time
*.pcert0
*.pcert1
*.pcert0.temp
*.port
*.acl2x
Makefile-deps
Makefile-tmp
*.data
*.o
*.sbin
*.lbin
*.fasl
*.ufsl
*.64ufasl
*.ufasl
*.pfsl
*.dfsl
*.dx32fsl
*.lx32fsl
*.d64fsl
*.dx64fsl
*.lx64fsl
*.fx64fsl
*.bin
*.sparcf
*.axpf
*.x86f
*.ppcf
*.fas
*.lib
*.sse2f
*.wx32fsl
*.wx64fsl
*.fx86fsl
*.sao
.acl2rc
*.log
TMP*.*
*.tem
temp-emacs-file*
*~
Makefile-certs
Makefile-sources
startjob.*.wrap
.#*
\#*.*\#
