core-rules.txt text eol=crlf
concrete-syntax-rules.txt text eol=crlf
uri-grammar.txt text eol=crlf
http-grammar.txt text eol=crlf
imf-grammar.txt text eol=crlf
smtp-grammar.txt text eol=crlf
imap-grammar.txt text eol=crlf
json-grammar.txt text eol=crlf
