<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="proof"
			id="org.neu.acl2.handproof.HandProof"
			name="HandProof Editor">
		</editor>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="org.neu.acl2.handproof.ui.toolbar1">
				<command commandId="org.neu.acl2.handproof.HandProof.validate"
					style="push"
					tooltip="Trigger expensive validation">
					<visibleWhen checkEnabled="false">
						<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened"/>
					</visibleWhen>
				</command>
				<command commandId="org.neu.acl2.handproof.HandProof.formatHelp"
					style="push"
					tooltip="See some information about the proof format">
					<visibleWhen checkEnabled="false">
						<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened"/>
					</visibleWhen>
				</command>
				<command commandId="org.neu.acl2.handproof.HandProof.faq"
					style="push"
					tooltip="See some FAQs">
					<visibleWhen checkEnabled="false">
						<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened"/>
					</visibleWhen>
				</command>
			</toolbar>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.neu.acl2.handproof.ui.editor.handler.MyValidateActionHandler"
			commandId="org.neu.acl2.handproof.HandProof.validate">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.neu.acl2.handproof.ui.editor.handler.ProofFormatHelpActionHandler"
			commandId="org.neu.acl2.handproof.HandProof.formatHelp">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.neu.acl2.handproof.ui.editor.handler.FAQActionHandler"
			commandId="org.neu.acl2.handproof.HandProof.faq">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.neu.acl2.handproof.HandProof.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.neu.acl2.handproof.HandProof.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.neu.acl2.handproof.HandProof"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.neu.acl2.handproof.HandProof.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.neu.acl2.handproof.HandProof"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.neu.acl2.handproof.ui.preferences.HandProofRootPreferencePage"
			id="org.neu.acl2.handproof.HandProof"
			name="HandProof">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.neu.acl2.handproof.HandProof.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.neu.acl2.handproof.HandProof.templates"
			name="Templates">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.neu.acl2.handproof.HandProof"
			name="HandProof">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.neu.acl2.handproof.ui.keyword_HandProof"
			label="HandProof"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="org.neu.acl2.handproof.HandProof.validate"
			name="Validate">
		</command>
		<command
			description="See some information about the proof format!"
			id="org.neu.acl2.handproof.HandProof.formatHelp"
			name="Proof Format Help">
		</command>
		<command
			description="See some FAQs"
			id="org.neu.acl2.handproof.HandProof.faq"
			name="FAQ">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="org.neu.acl2.handproof.HandProof.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.neu.acl2.handproof.HandProof.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="proof"
			id="org.neu.acl2.handproof.HandProof.contenttype"
			name="HandProof File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="proof">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="proof">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.neu.acl2.handproof.HandProof -->
	<extension
			id="handproof.check.fast"
			name="HandProof Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="handproof.check.normal"
			name="HandProof Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="handproof.check.expensive"
			name="HandProof Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.neu.acl2.handproof.HandProof.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="proof"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.neu.acl2.handproof.HandProof.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.neu.acl2.handproof.HandProof.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.neu.acl2.handproof.HandProof.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.neu.acl2.handproof.HandProof.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.neu.acl2.handproof.HandProof -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.neu.acl2.handproof.ui.handproof.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.neu.acl2.handproof.ui.handproof.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.neu.acl2.handproof.ui.handproof.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.neu.acl2.handproof.HandProof.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.neu.acl2.handproof.HandProof"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.neu.acl2.handproof.HandProof.refactoring"
			name="Refactoring">
			<keywordReference id="org.neu.acl2.handproof.ui.keyword_HandProof"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.neu.acl2.handproof.HandProof.compare.contentViewers"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="proof">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.neu.acl2.handproof.HandProof.contenttype"
			contentViewerId="org.neu.acl2.handproof.HandProof.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.neu.acl2.handproof.HandProof.compare.contentMergeViewers"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="proof" label="HandProof Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.neu.acl2.handproof.HandProof.contenttype"
			contentMergeViewerId="org.neu.acl2.handproof.HandProof.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.neu.acl2.handproof.HandProof.editors.documentProviders"
			class="org.neu.acl2.handproof.ui.HandProofExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="proof">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="proof"
			type="text">
		</fileTypes>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.neu.acl2.handproof.ui"
          name="Proof Checker">
    </category>
    <view
          category="org.neu.acl2.handproof.ui"
          class="org.neu.acl2.handproof.ui.views.ProofCheckerOutputView"
          icon="icons/sample.png"
          id="org.neu.acl2.handproof.ui.views.ProofCheckerOutputView"
          inject="true"
          name="Checker Output">
    </view>
 </extension>
 <extension
       point="org.eclipse.help.contexts">
    <contexts
          file="contexts.xml">
    </contexts>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
       <category
             id="org.neu.acl2.handproof.wizards"
             name="Proofs"/>
       <wizard
             category="org.neu.acl2.handproof.wizards"
             class="org.neu.acl2.handproof.ui.wizards.NewProofFileWizard"
             hasPages="true"
             icon="platform:/plugin/org.eclipse.ui.editors/icons/full/etool16/new_untitled_text_file.png"
             id="org.neu.acl2.handproof.ui.wizards.NewProofFileWizard"
             name="Proof file"
             project="false"
             preferredPerspectives="acl2s.plugin.perspectives.ACL2s"/>
 </extension>
</plugin>
