<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.neu.org/acl2/handproof/HandProof"
			class = "org.neu.acl2.handproof.handProof.HandProofPackage"
			genModel = "model/generated/HandProof.genmodel" />
	</extension>
</plugin>
