community-books-acl2-2023.aux
community-books-acl2-2023.fdb_latexmk
community-books-acl2-2023.fls
community-books-acl2-2023.nav
community-books-acl2-2023.pdf
community-books-acl2-2023.snm
community-books-acl2-2023.synctex.gz
community-books-acl2-2023.toc
community-books-acl2-2023.vrb
