machine/x86isa_full_exec_support.lisp
machine/syscalls.acl2
workxxx*
*@expansion.lsp
*.out
*.date
*.cert
*.cert.time
*.cert.temp
*.pcert
*.pcert.temp
*.port
*.acl2x
Makefile-deps
Makefile-tmp
*.data
*.o
*.sbin
*.lbin
*.fasl
*.ufsl
*.64ufasl
*.ufasl
*.pfsl
*.dfsl
*.dx32fsl
*.lx32fsl
*.d64fsl
*.dx64fsl
*.lx64fsl
*.bin
*.sparcf
*.axpf
*.x86f
*.ppcf
*.fas
*.lib
*.log
TMP*.*
temp-emacs-file.lsp
*~
TAGS
*.so
*.dylib
