;;; configuration for LIFT tests

;; settings
(:if-dribble-exists :supersede)
(:dribble "lift.dribble")
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)

;; suites to run
(trivial-backtrace-test)

;; report properties
(:report-property :title "Trivial-Backtrace | Test results")
(:report-property :relative-to trivial-backtrace-test)

(:report-property :style-sheet "test-style.css")
(:report-property :if-exists :supersede)
(:report-property :format :html)
(:report-property :full-pathname "test-results/test-report.html")
(:report-property :unique-name t)
(:build-report)

(:report-property :unique-name t)
(:report-property :format :describe)
(:report-property :full-pathname "test-results/test-report.txt")
(:build-report)

(:report-property :format :save)
(:report-property :full-pathname "test-results/test-report.sav")
(:build-report)

(:report-property :format :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
