demo2
demo2-test.ok
worklispext
# The following are executables.  Feel free to add executables
# for additional platforms.
demo2.ccl
demo2.lx86cl64
demo2.dx86cl64
demo2.wx86cl64
demo2.gcl
demo2.core
demo2.lw
demo2.dxl